*{
    font-family:'Shadows Into Light', cursive;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}

div{
    border: 1px solid red;
}

.bodyOfBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
}

#gamePlay{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}

#userSelection, #pcSelection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
}

.imgUserInput{
    width: 100px;
    height: 100px;
}

.imgUserInput:hover{
    transform: scale(1.2);
}

#blankSelection{
    display: flex;
    border-radius: 50%;
    background-color:ghostwhite;
    width: 93px;
    height: 93px;;
    justify-content: center;
    align-items: center;
}

#pcImage{
    display: none;
}

#pcSelection{
    width: 100px;
}

#matchResult{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#afterGame{
    display: none;
    flex-direction: column;
    height: 550px;
    justify-content: center;
}

.matchResult.afterGame, .userPc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 40px;
    font-size: 30px;
    font-weight: bolder;
}

#rematchButtonYes{
    font-size: 25px;
    margin: 50px 40px;
    font-weight: bold;
}

.footer, .header, #gamePlay, #afterGame, #matchResult{
    max-width: 500px;
    min-width: 400px;
}

.footer, .header{
    text-align: center;
    font-size: 25px;
}

.msgFinal{
    text-align: center;
    font-size: 40px;
    margin: 20px 40px;
    font-weight: bolder;
}

.footer{
    font-size: 20px;
}